<!DOCTYPE html>
<html>
	<head>
		<title>云库存管理系统</title>
		<script src="/js/jquery.min.js"></script>
		<link href="/css/erp.css" rel="stylesheet">
		<link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="/plugin/My97DatePicker/WdatePicker.js"></script>
		<link href="/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
		<script src="/plugin/select2/dist/js/select2.min.js"></script>
		<script src="/js/basic.js"></script>
		<script src="/js/check.js"></script>
	</head>
	<body>
		<header>
			<strong>云库存</strong>
			<small>管理系统 Version 2.1</small>
			<p id="userinfo"></p>
		</header>
		<nav>
			<ul>
				<li>
					<a href="#">采购管理</a>
					<dl>
						<dd><a href="/erp/index">采购清单</a></dd>
						<dd><a href="/erp/putin">入库</a></dd>
					</dl>
				</li>
				<li>
					<a href="#">库存管理</a>
					<dl>
						<dd><a href="/erp/stock?p=所有&s=所有">库存数</a></dd>
						<dd><a href="/erp/putout">出库</a></dd>
					</dl>
				</li>
				<li>
					<a href="#">财务管理</a>
					<dl>
						<dd><a href="/erp/byday">日报表</a></dd>
						<dd><a href="/erp/bymonth">月报表</a></dd>
					</dl>
				</li>
				<li>
					<a href="#">系统管理</a>
					<dl>
						<dd><a href="/erp/store">门店</a></dd>
						<dd><a href="/erp/category">分类</a></dd>
						<dd><a href="/erp/c_material">材料类别</a></dd>
						<dd><a href="/erp/material">材料</a></dd>
						<dd><a href="/erp/role">用户权限</a></dd>
					</dl>
				</li>
			</ul>
		</nav>
		<article>