<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>欢迎使用最新v3.0版</small></div>
</div>
<div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 系统更新公告</p>
          <p>系统升级为3.0版本，预计2018-06-01上线试运营。—— 管理员</p>
        </div>
      </div>
      

<% include footer %>