<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>欢迎使用最新v3.0版</small></div>
</div>
<div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 系统更新公告</p>
          <p>系统升级为3.0版本，预计2018-06-01上线试运营。—— 管理员</p>
        </div>
      </div>
<!--模块引导-->
<ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="/erp/frmorder" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>采购</a></li>
        <li><a href="/erp/frmputin" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>入库</a></li>
        <li><a href="/erp/frmputout" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>出库</a></li>
        <li><a href="/erp/byday" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>财务</a></li>
      
       <li style="margin-top: 50px;"><a href="/erp/stock?p=所有&s=" class="am-text-warning" ><span class="am-icon-btn am-icon-table"></span><br/>库存</a></li>
        <li style="margin-top: 50px;"><a href="/erp/gys" class="am-text-success"><span class="am-icon-btn am-icon-puzzle-piece"></span><br/>设置</a></li>
        <li></li>
        <li></li>
      </ul>
      

<% include footer %>