<% include header %>
<p>欢迎使用云库存管理系统！</p>
<p>权限指南：</p>
<h1>1.申请者</h1>
<p>申请者只能看到自己门店的采购管理-采购清单，可以添加采购清单</p>
<h1>2.采购员</h1>
<p>采购员只能看到自己门店的采购管理-采购清单，不可以添加采购清单</p>
<h1>3.仓管</h1>
<p>仓管只能看到自己门店的采购管理-入库，库存管理-库存数和库存管理-出库</p>
<h1>4.财务</h1>
<p>财务只能看到自己门店的财务管理-日报表，财务管理-月报表</p>
<h1>5.门店管理员</h1>
<p>可以看到自己门店的除了系统管理外的所有内容</p>
<h1>6.超级管理员</h1>
<p>可以看到自己门店的所有内容</p>
<% include footer %>