<% include header %>
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统管理</strong> / <small>门店管理</small></div>
</div>
	<table class="am-form" style="margin:5px">
		<tr>
			<td>
				<input type="text" id="name" placeholder="门店名称" />
			</td>
			<td>
				<button class="am-btn am-btn-primary" onclick="add()">新增</button>
			</td>
		</tr>
	</table>
	<div class="div_auto">
		<table style="margin:5px" class="am-table am-table-bordered am-table-radius am-table-striped table-main">
			<tr>
				<th>门店名称</th>
				<th>操作</th>
			</tr>
			<%for(var i in obj){%>
				<tr>
					<td>
						<%=obj[i].name%>
					</td>
					<td>
						<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<%=obj[i].id%>)"><span class="am-icon-trash-o"></span>删除</button>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<script>
		function add() {
			if($('#name').val() ==''){
				alert('请填写门店');return false;
			}
			$.ajax({
				type: "POST",
				url: "/erp/insertStore",
				data: {
					name: $("#name").val()
				},
				success: function(data) {
					if (data == 200) {
						//alert('新增成功！');
						window.location.reload();
					}
				}
			});
		}
		
		function del(id){
			var _con = confirm("是否确认删除?");
 			if(_con){
 				$.ajax({
					type: "POST",
					url: "/erp/delStore",
					data: {
						id: id
					},
					success: function(data) {
						if (data == 200) {
							//alert('删除成功！');
							window.location.reload();
						}
					}
				});	
 			}
		}
	</script>
	<% include footer %>