<% include header %>
<div class="panel panel-success" onclick="cancelPay()" style="height:1000px;background-color:#131313 !important;">
    <div class="panel-heading">
        <h3 class="panel-title">提示信息</h3>
    </div>
    <div class="panel-body">
        <p>支付成功！</p>
        <p>您的取餐编号为：<%=no%></p>
        <br/>
        <p>请凭小票取餐</p>       
        <!--<button type="button" class="btn btn-default" onclick="cancelPay()">关闭</button>-->
        <p>请点击屏幕跳回点餐界面</p>
    </div>
</div>
<script>
	$("#code").qrcode({
		render: "table", //table方式
		width: 150, //宽度
		height: 150, //高度
		text: "<%=no%>" //任意内容
	});
	
	function cancelPay(){
		window.location = '/store/list';
	}
</script>
<% include footer %>