<label for="name">米饭</label>
<div>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios1" value="东北大米" checked>
		<img class="flimg" src="../pic/fl10.jpg" alt="" />
		东北大米
	</label>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios2" value="泰国香米">
		<img class="flimg" src="../pic/fl11.jpg" alt="" />
		泰国香米
	</label>
</div>
<label for="name">调味料</label>
<div>
	<label class="checkbox-inline">
		<input type="radio" name="fl2" id="optionsRadios3" value="酱油" checked>
		<img class="flimg" src="../pic/fl20.jpg" alt="" />
		酱油
	</label>
	<label class="checkbox-inline">
		<input type="radio" name="fl2" id="optionsRadios4" value="黄油">
		<img class="flimg" src="../pic/fl21.jpg" alt="" />
		黄油
	</label>
</div>