<label for="name">请选择您的拌饭酱</label>
<div>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios1" value="三文鱼XO酱" checked>
		三文鱼XO酱
	</label>
	<br/>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios2" value="云南菌菇牛肉酱">
		云南菌菇牛肉酱
	</label>
	<br/>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios3" value="大侠手工鲜椒酱">
		大侠手工鲜椒酱
	</label>
	<br/>
	<label class="checkbox-inline">
		<input type="radio" name="fl1" id="optionsRadios4" value="无需拌酱">
		无需拌酱
	</label>
</div>