<label for="name">请选择您的主食</label>
<div>
	<label class="checkbox-inline">
		<input type="radio" name="fl2" id="optionsRadios1" value="乌冬面" checked>
		乌冬面
	</label>
	<br/>
	<label class="checkbox-inline">
		<input type="radio" name="fl2" id="optionsRadios2" value="米饭">
		米饭
	</label>
</div>