<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>门店点餐系统</title>
<link href="/css/storelayout.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.min.js"></script>
<link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/cookiesoperator.js"></script>
<script type="text/javascript" src="/plugin/craftpip/dist/jquery-confirm.min.js"></script>
<link rel="stylesheet" type="text/css" href="/plugin/craftpip/css/jquery-confirm.css">
<link href="/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="/plugin/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/js/fun_weixin.js"></script>
<script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b0a3a4f6a4b3bd0d441f4d0b111fe8d2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
