<!--页面逻辑-->
<% include header %>
<div style="height:10px;"></div>
<div id="info1">
	<table style="width:95%;margin:auto;">
	    <tr>
	      <td style="width:40%">
	      </td>
	      <td style="vertical-align:top;padding-left:10px;">
	        <div style="padding-top:5px;font-size:14px;text-align:right;width:100%">
	         
	        </div>
	      </td>
	    </tr>
	</table>
	<div style="height:10px;"></div>
	<div style="margin-left: 20px;">
				<div style="margin-left:0px;padding-top:5px;">公司名称：<span id="bk1" style="margin-right:30px;"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">负责人：<span id="bk2"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">负责人手机号：<span id="bk3"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">地址：<span id="bk4"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">配送地址：<span id="bk5"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">单价：<span id="bk6"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">结账周期：<span id="bk7"></span></div>
	            <div style="margin-left:0px;padding-top:5px;">合同有效期：<span id="bk8"></span></div>
	            <div style="margin-left:0px;padding-top:5px;" class="breakfast1">早餐配送时间：<span id="bk9"></span></div>
	            <div style="margin-left:0px;padding-top:5px;" class="breakfast2">午餐配送时间：<span id="bk10"></span></div>
	            <div style="margin-left:0px;padding-top:5px;" class="breakfast3">晚餐配送时间：<span id="bk11"></span></div>
	</div>
	            
	
	<div id="menu_pdf" style="width:100%;text-align:center;margin-top:10px"></div>
	
	<div style="margin-left: 20px;">
		<div style="margin-left:0px;padding-top:5px;">
            	送餐类别：<select name="sendtype" style="width:100px" id="sendtype"></select>
        </div>
		<div style="margin-left:0px;padding-top:5px;">送餐日期：<span id="date1"></span></div>
		<div class="numA_div">
			<div style="margin-left:0px;padding-top:5px;">A套餐：<input type="number" style="width:50%;display:inline;" class="input form-control" id="numA"  onkeyup="value=value.replace(/[^\d]/g,'0')" onchange="computTotal()" /> 份</div>
		</div>
		<div class="numB_div">
			<div style="margin-left:0px;padding-top:5px;">B套餐：<input type="number" style="width:50%;display:inline;" class="input form-control" id="numB"  onkeyup="value=value.replace(/[^\d]/g,'0')" onchange="computTotal()" /> 份</div>
		</div>
		<div class="numC_div">
			<div style="margin-left:0px;padding-top:5px;">C套餐：<input type="number" style="width:50%;display:inline;" class="input form-control" id="numC"  onkeyup="value=value.replace(/[^\d]/g,'0')" onchange="computTotal()" /> 份</div>
		</div>
		<div class="numD_div">
			<div style="margin-left:0px;padding-top:5px;">D套餐：<input type="number" style="width:50%;display:inline;" class="input form-control" id="numD"  onkeyup="value=value.replace(/[^\d]/g,'0')" onchange="computTotal()" /> 份</div>
		</div>
		<div style="margin-left:0px;padding-top:5px;">总份数：<span id="numTotal"></span> 份</div>
	</div>
	
	<div style="width:100%;text-align:center;margin-top:10px">
	    <div style="cursor:pointer;margin:20px auto;text-align:center;color:#FFFFFF;font-size:16px;background:#AF311A;width:50%;height:40px;border-radius:10px;line-height:40px;" onclick="booking()">完成</div>  
	</div>
</div>
<div id="info2" style="display:none">
	<div style="width:100%;text-align:center;margin-top:10px">
		您今天已经订过餐了
	    <div style="cursor:pointer;margin:20px auto;text-align:center;color:#FFFFFF;font-size:16px;background:#AF311A;width:50%;height:40px;border-radius:10px;line-height:40px;" onclick="window.location='query'">订单查询</div>  
	</div>
</div>


<div style="margin-left: 20px;">
	<div style="margin-left:0px;padding-top:5px;">
		如需变更数量，请联系客服 : <a href="tel:4000191177">4000191177</a>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" >
      <div class="modal-content">
         <div class="modal-body">
            <table style="width:100%;margin-left:0px;margin-bottom:5px;">
              <tr>
                <th style="width:100px;">订餐成功</th>
              </tr>
            </table>
            <hr style="margin-top:0px !important;margin-bottom:0px !important;">
            <div style="margin-left:0px;padding-top:5px;">送餐日期：<span id="bo1" style="margin-right:30px;"></span></div>
            <div style="margin-left:0px;padding-top:5px;">总数量：<span id="bo2"></span> 份</div>
            <div class="numA_div">
            	<div style="margin-left:0px;padding-top:5px;">A套餐：<span id="bo3"></span> 份</div>
            </div>
            <div class="numB_div">
            	<div style="margin-left:0px;padding-top:5px;">B套餐：<span id="bo4"></span> 份</div>
            </div>
            <div class="numC_div">
            	<div style="margin-left:0px;padding-top:5px;">C套餐：<span id="bo7"></span> 份</div>
            </div>
            <div class="numD_div">
            	<div style="margin-left:0px;padding-top:5px;">D套餐：<span id="bo8"></span> 份</div>
            </div>
            <hr style="margin-top:5px !important;margin-bottom:5px !important;">
            <div style="margin-left:0px;padding-top:5px;">总金额：¥<span id="bo5"></span></div>
            <div style="margin-left:0px;padding-top:5px;">下单时间：<span id="bo6"></span></div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-default" onclick="window.open('tel:4000191177');">
               联系客服
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">
  //判断登陆状态
  var sessionID = window.localStorage.getItem("sessionID");
  if(!sessionID){
  	window.location = '/weixin/login';
  }
  
  var sessionCompany = '';
  
  function getCompanyInfo(){
  	$.ajax({ type:"POST" , data:{id:sessionID},url: "/role/getCinfo", success: function(data){
  		if(!data[0]){
  			window.location = '/weixin/login';
  		}
        $("#bk1").html(data[0].name);
        $("#bk2").html(data[0].sender);
        $("#bk3").html(data[0].tel);
        $("#bk4").html(data[0].address);
        $("#bk5").html(data[0].send_address);
        $("#bk6").html(data[0].price);
        $("#bk7").html(data[0].type);
        $("#bk8").html(data[0].deadline);
        $("#bk9").html(data[0].sendtime1);
        $("#bk10").html(data[0].sendtime2);
        $("#bk11").html(data[0].sendtime3);
        var str1 = data[0].menutype;
        if(str1.indexOf("A") == -1){
        	$('.numA_div').hide();
        }
        if(str1.indexOf("B") == -1){
        	$('.numB_div').hide();
        }
        if(str1.indexOf("C") == -1){
        	$('.numC_div').hide();
        }
        if(str1.indexOf("D") == -1){
        	$('.numD_div').hide();
        }
        var str2 = data[0].sendtype;
        var option_h = '';
        if(str2.indexOf("早") == -1){
        	$('.breakfast1').hide();
        }else{
        	option_h += '<option value="早餐">早餐</option>';
        }
        if(str2.indexOf("午") == -1){
        	$('.breakfast2').hide();
        }else{
        	option_h += '<option value="午餐">午餐</option>';
        }
        if(str2.indexOf("晚") == -1){
        	$('.breakfast3').hide();
        }else{
        	option_h += '<option value="晚餐">晚餐</option>';
        }
 		$('#sendtype').html(option_h);
        sessionCompany = data[0].name;
        getMenu();
        //获取送餐日期
        $('#date1').html(GetDateStr(1));
    }});
  }
  
function GetDateStr(AddDayCount) { 
	var myDate = new Date(); 
	myDate.setDate(myDate.getDate()+AddDayCount);//获取AddDayCount天后的日期 
	var y = myDate.getFullYear();
	var m = (((myDate.getMonth() + 1) + "").length == 1) ? "0" + (myDate.getMonth() + 1) : (myDate.getMonth() + 1);
	var d = (((myDate.getDate()) + "").length == 1) ? "0" + (myDate.getDate()) : (myDate.getDate());
	return y+"-"+m+"-"+d; 
} 
  
  function getMenu(){
  	$.ajax({ type:"POST" , data:{companyName:sessionCompany},url: "/role/getMenu", success: function(data){
  	   console.log(data);
       $('#menu_pdf').html("<div onclick='window.open(\"/pic/"+data[0].imgname+"\");' style='cursor:pointer;margin:20px auto;text-align:center;color:#FFFFFF;font-size:16px;background:#AF311A;width:50%;height:40px;border-radius:10px;line-height:40px;' >菜单</div>");
    }});
  }

  function toPage(i){
    window.location = "/weixin/option?p="+i;
  }
  
  function computTotal(){
  	var numA = Number($('#numA').val());
  	var numB = Number($('#numB').val());
  	var numC = Number($('#numC').val());
  	var numD = Number($('#numD').val());
  	numA = (numA == "")?0:numA;
    numB = (numB == "")?0:numB;
    numC = (numC == "")?0:numC;
    numD = (numD == "")?0:numD;
  	$('#numTotal').html(numA+numB+numC+numD);
  }

  function getbookingprice(id,bk1,bk2,bk3,bk8,bk4,bk5,bk6,bk7,num,price,price1){
    $.ajax({ type:"POST" , url: "/customer/getbookingdetail",data:{id:id},  success: function(data){
        var _html = "<table style='margin-top:5px;width:100%;'>";
        var j = 0;
        //_html += "<thead><tr><th>序号</th><th>品名</th><th>售价</th><th>优惠价</th><th>数量</th><th>小计</th><th>优惠备注</th></tr></thead> <tbody>"
        for(var i in data){
            j += 1;
            var ap = "";
            ap = (data[i].remark=="")?"-":data[i].aheadprice;
            _html += "<tr>";
            _html += "<td style='text-align:left;padding-top:5px;width:100px'>"+data[i].name+"</td>";
            _html += "<td style='text-align:left;padding-top:5px;'> x "+data[i].num+"</td>";
            _html += "<td style='text-align:right;color:#DB551B;padding-top:5px;'> ¥"+data[i].pricetotal+"</td>";
            _html += "</tr>";
        }
        //_html += "<tr><td colspan='4'>合计</td><td style='color:#DB551B'>"+num+"</td><td style='color:#DB551B'>"+price+"</td><td>实付金额：<span style='color:#DB551B'>"+price1+"</span></td></tr>";
        _html += "</table>";
        _html += "<div style='color:#DB551B;padding-top:5px;'>合计："+num+" 份</div>";
        _html += "<div style='color:#DB551B;padding-top:5px;'>实付金额：¥"+price1+"</div>";
        $("#bookingdetail").html(_html);
        $("#bk1").html(bk1);
        $("#bk2").html(bk2);
        $("#bk3").html(bk3);
        $("#bk4").html(bk4);
        $("#bk5").html(bk5);
        $("#bk6").html(bk6);
        $("#bk7").html(bk7);
        $("#bk8").html(bk8);
        $('#addModal').modal('show');
    }});
 }

	function logout() {
	    $.ajax({ type:"POST" , url: "/role/unbind", success: function(data){
	        if(data==200){
	           window.location = "/weixin/login";
	        }else{
	          alert("登出出错！");return false;
	        }
	    }});
	}
	
	window.confirm = function (message) {
	   var iframe = document.createElement("IFRAME");
	   iframe.style.display = "none";
	   iframe.setAttribute("src", 'data:text/plain,');
	   document.documentElement.appendChild(iframe);
	   var alertFrame = window.frames[0];
	   var result = alertFrame.window.confirm(message);
	   iframe.parentNode.removeChild(iframe);
	   return result;
	};

	
	function pay(bookingno,pricetotal) {
	  window.location='/jsapipay?bookingNo='+bookingno+'&total_fee='+(pricetotal*100);
	}
	
	function booking(){
		var sendtype = $('#sendtype').val();
		if(!sendtype){
			alert("送餐类别！");return false;
		}
		var detail = '';
		if($('#numA').val()){
			detail += 'A套餐'+$('#numA').val()+"份 ";
		}
		if($('#numB').val()){
			detail += 'B套餐'+$('#numB').val()+"份 ";
		}
		if($('#numC').val()){
			detail += 'C套餐'+$('#numC').val()+"份 ";
		}
		if($('#numD').val()){
			detail += 'D套餐'+$('#numD').val()+"份 ";
		}
		/*
		Confirm({
		    msg: "您预订了"+$('#date1').html()+"的"+sendtype+$('#numTotal').html()+"份，总共"+Number($('#numTotal').html())*Number($("#bk6").html())+"元，其中"+detail+"，是否确认订餐",
		    onOk: function(){
				$.ajax({ 
					type:"POST" ,
					url: "/role/insertBooking",
					data:{
						cid:sessionID,
						date1:$('#date1').html(),
						numA:$('#numA').val(),
						numB:$('#numB').val(),
						numC:$('#numC').val(),
						numD:$('#numD').val(),
						numTotal:$('#numTotal').html(),
						priceTotal:Number($('#numTotal').html())*Number($("#bk6").html()),
						sendtype:sendtype
					},
					success: function(data){
						if(data=="400"){
			           		alert("您当天已经订过"+sendtype+"，不能重复订餐！");
			           		return false;
			        	}
			        		$("#bo1").html(data[0].date1);
					        $("#bo2").html(data[0].numTotal);
					        $("#bo3").html(data[0].numA);
					        $("#bo4").html(data[0].numB);
					        $("#bo5").html(data[0].priceTotal);
					        $("#bo6").html(data[0].date2);
					        $("#bo7").html(data[0].numC);
					        $("#bo8").html(data[0].numD);
				           $('#addModal').modal('show');
			    	}
				});
		    },
		    onCancel: function(){
		        
		    }
		});
		*/  
    	
		if(confirm("您预订了"+$('#date1').html()+"的"+sendtype+$('#numTotal').html()+"份，总共"+Number($('#numTotal').html())*Number($("#bk6").html())+"元，其中"+detail+"，是否确认订餐")){
			$.ajax({ 
				type:"POST" ,
				url: "/role/insertBooking",
				data:{
					cid:sessionID,
					date1:$('#date1').html(),
					numA:$('#numA').val(),
					numB:$('#numB').val(),
					numC:$('#numC').val(),
					numD:$('#numD').val(),
					numTotal:$('#numTotal').html(),
					priceTotal:Number($('#numTotal').html())*Number($("#bk6").html()),
					sendtype:sendtype
				},
				success: function(data){
					if(data=="400"){
		           		alert("您当天已经订过"+sendtype+"，不能重复订餐！");
		           		return false;
		        	}
		        		$("#bo1").html(data[0].date1);
				        $("#bo2").html(data[0].numTotal);
				        $("#bo3").html(data[0].numA);
				        $("#bo4").html(data[0].numB);
				        $("#bo5").html(data[0].priceTotal);
				        $("#bo6").html(data[0].date2);
				        $("#bo7").html(data[0].numC);
				        $("#bo8").html(data[0].numD);
			           $('#addModal').modal('show');
		    	}
			});
		}else{
			
		}
	}
	
	function checkBooking(){
		$.ajax({ 
			type:"POST" ,
			url: "/role/checkBooking",
			data:{
				cid:sessionID,
				date1:GetDateStr(1)
			},
			success: function(data){
				//console.log(data);
				/*
				if(data=="400"){
	           		$('#info1').hide();
	           		$('#info2').show();
	        	}*/
	    	}
		});
	}
	
	getCompanyInfo();
	checkBooking();
</script>
<% include footer %>