<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>派餐员扫码工具</title>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="/js/jquery.min.js"></script>
		<link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		<script>
			wx.config({
				debug: false,
				appId: 'wxe2a20ae8d978330b',
				timestamp: <%=signature.timestamp%>,
				nonceStr: '<%=signature.nonceStr%>',
				signature: '<%=signature.signature%>',
				jsApiList: [
					'checkJsApi',
					'onMenuShareTimeline',
					'onMenuShareAppMessage',
					'onMenuShareQQ',
					'onMenuShareWeibo',
					'onMenuShareQZone',
					'hideMenuItems',
					'showMenuItems',
					'hideAllNonBaseMenuItem',
					'showAllNonBaseMenuItem',
					'translateVoice',
					'startRecord',
					'stopRecord',
					'onVoiceRecordEnd',
					'playVoice',
					'onVoicePlayEnd',
					'pauseVoice',
					'stopVoice',
					'uploadVoice',
					'downloadVoice',
					'chooseImage',
					'previewImage',
					'uploadImage',
					'downloadImage',
					'getNetworkType',
					'openLocation',
					'getLocation',
					'hideOptionMenu',
					'showOptionMenu',
					'closeWindow',
					'scanQRCode',
					'chooseWXPay',
					'openProductSpecificView',
					'addCard',
					'chooseCard',
					'openCard'
				]
			});
			wx.ready(function() {
				// 9.1.2 扫描二维码并返回结果
				document.querySelector('#scanQRCode1').onclick = function() {
					wx.scanQRCode({
						needResult: 1,
						desc: 'scanQRCode desc',
						success: function(res) {
							//var o = JSON.stringify(res);
							var no = res.resultStr;
							$.ajax({
								type: "POST",
								url: "/service/bookend",
								data: {
									bookingno:no
								},
								success: function(data) {
									alert('取餐成功！');
								}
							});
						}
					});
				};
			});
			wx.error(function(res) {
				alert(res.errMsg);
			});
		</script>
		<style>

		</style>
		&nbsp;&nbsp;<button type="button" id="scanQRCode1" class="btn btn-default btn-xs" style="margin-top:5px">扫描取餐</button>
	</body>

</html>