<!--业务逻辑-->
<!--页面逻辑-->
<% include header %>
<div style="width:100%">
	<div class="pagetop"></div>
	<table style="margin:auto;">
		<tr>
			<td style="font-size:24px;padding-top:180px;">
				您的订单已提交，预祝您用餐愉快！
			</td>
		</tr>
	</table>
	<div style="height:250px;"></div>
</div>
<% include footer %>