<!DOCTYPE html>
<html>
<head>
  <title>外卖侠</title>
    <style type="text/css">
        .qrcode{
          position:absolute;
          top:30%;
          left:30%;
          width:300px;
        }
        .content{
          position:absolute;
          top:25%;
          left:30%;
          color: #fff;
          font-weight: bold;
          font-size: 20px;
        }
    </style>
</head>
<body>
    <div style="postion:relative;width:100%">
        <img src="http://7xr0h8.com1.z0.glb.clouddn.com/d009b3de9c82d1580522b59e860a19d8bc3e4279.jpg" style="width:100%">
        <img class="qrcode" src="http://7xr0h8.com1.z0.glb.clouddn.com/qrcode_for_gh_cc841d0a87c0_344.jpg">
        <div class="content">微信扫一扫，订餐就是这么简单！</div>
    </div>
   
</body>
</html>