<!--业务逻辑-->
<%
	var CONSTANT1,parms,CONSTANT2,CONSTANT3,CONSTANTRole;
	CONSTANT1 = "日报表,月报表,年报表,自定义报表".split(",");
	CONSTANT2 = "g-item,g-item,g-item,g-item".split(",");
	CONSTANT3 = "finance_d,finance_m,finance_y,finance_z".split(",");
	CONSTANTRole = "show,show,show,show".split(",");

	parms = url.split("?p=");
	if(parms[0]=="/cms/finance_d"){CONSTANT2[0] = "g-item-selected";}
	else if(parms[0]=="/cms/finance_m"){CONSTANT2[1] = "g-item-selected";}
	else if(parms[0]=="/cms/finance_y"){CONSTANT2[2] = "g-item-selected";}
	else if(parms[0]=="/cms/finance_z"){CONSTANT2[3] = "g-item-selected";}
%>
<!--页面逻辑-->
<%for(var i in CONSTANT1){
	if(CONSTANTRole[i]=="show"){
%>
    <div class="<%=CONSTANT2[i]%>" onclick="toLocation('<%=CONSTANT3[i]%>')" >
    	<span style="margin-left:20px;" class="glyphicon glyphicon-align-left"></span>
    	<%=CONSTANT1[i]%>
    </div>
<%	}
}
%>
