<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>ERP管理系统 1.2</title>

<script src="/js/jquery.min.js"></script>
<link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/plugin/clockpicker/dist/bootstrap-clockpicker.min.css">
<link rel="stylesheet" type="text/css" href="/plugin/clockpicker/assets/css/github.min.css">
<script type="text/javascript" src="/plugin/clockpicker/dist/bootstrap-clockpicker.min.js"></script>

<script type="text/javascript" src="/plugin/craftpip/dist/jquery-confirm.min.js"></script>
<link rel="stylesheet" type="text/css" href="/plugin/craftpip/css/jquery-confirm.css">

<script type="text/javascript" src="/js/fun.js"></script>
<link href="/css/layout.css" rel="stylesheet" type="text/css" />

<link href="/plugin/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">

<link href="/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="/plugin/select2/dist/js/select2.min.js"></script>

<script type="text/javascript" src="/plugin/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<!--业务逻辑-->
<%
  var CONSTANT1,parms;
  CONSTANT1 = "/cms/finance_total,/cms/finance_d,/cms/finance_m,/cms/fedmenu,/cms/fedreport,/cms/fedreport1,/cms/user,/cms/booking,/cms/fixedmenu";
  parms = url.split("?p=");
%>
	<div id="con_header" >
      <div class="divlogo"></div> 
      <div class="title_h">
        <p class="title_h1">SH-Baiying Catering</p>
      </div> 
      <div class="h_right_exit" onclick="toLocation('/cms/login');">退出</div>
      <div class="h_right">当前用户：<%=user%></div>  
      <div class="clearboth"></div>
  </div>

  <table class="tbhome">
    <tr>
      <td class="tbleft"><% include left %></td>
      <%if(CONSTANT1.indexOf(parms[0])!=-1 && parms[0] !="/cms/fina"){%>
        <td style="width:150px">
      <%}else{%>
        <td>
      <%}%>

 
    
  

