<!--业务逻辑-->
<%
	var CONSTANT1,parms,CONSTANT2,CONSTANT3,CONSTANTRole;
	CONSTANT1 = "企业管理,菜单管理,账户管理".split(",");
	CONSTANT2 = "g-item,g-item,g-item".split(",");
	CONSTANT3 = "address,menu,role".split(",");
	CONSTANTRole = "show,show,show".split(",");

	if(role=="主管"){
		CONSTANTRole[2] = "hide";
	}

	parms = url.split("?p=");
	if(parms[0]=="/cms/address"){CONSTANT2[0] = "g-item-selected";}
	else if(parms[0]=="/cms/menu"){CONSTANT2[1] = "g-item-selected";}
	else if(parms[0]=="/cms/role"){CONSTANT2[2] = "g-item-selected";}
%>
<!--页面逻辑-->
<%for(var i in CONSTANT1){
	if(CONSTANTRole[i]=="show"){
%>
    <div class="<%=CONSTANT2[i]%>" onclick="toLocation('<%=CONSTANT3[i]%>')" >
    	<span style="margin-left:20px;" class="glyphicon glyphicon-align-left"></span>
    	<%=CONSTANT1[i]%>
    </div>
<%	}
}
%>
