<!--业务逻辑-->
<%
	var CONSTANT1,parms,CONSTANT2,CONSTANT3,CONSTANTRole;
	CONSTANT1 = "日报表,月报表,企业管理,菜单管理,账户管理".split(",");
	CONSTANT2 = "group-item,group-item,group-item,group-item,group-item".split(",");
	CONSTANT3 = "finance_d,finance_m,address,menu,role".split(",");
	CONSTANTRole = "show,show,show,show,show".split(",");

	if(role=="财务"){
		CONSTANTRole[2] = "hide";CONSTANTRole[3] = "hide";CONSTANTRole[5] = "hide";CONSTANTRole[6] = "hide";
	}else if(role=="主管"){
		
	}else if(role=="操作"){
		CONSTANTRole[2] = "hide";CONSTANTRole[4] = "hide";CONSTANTRole[5] = "hide";
	}

	parms = url.split("?p=");
	
	if(parms[0]=="/cms/finance_d"){CONSTANT2[0] = "group-item-selected";}
	else if(parms[0]=="/cms/finance_m"){CONSTANT2[1] = "group-item-selected";}	
	else if(parms[0]=="/cms/address"){CONSTANT2[2] = "group-item-selected";}
	else if(parms[0]=="/cms/menu"){CONSTANT2[3] = "group-item-selected";}
	else if(parms[0]=="/cms/role"){CONSTANT2[4] = "group-item-selected";}
%>
<!--页面逻辑-->
<%for(var i in CONSTANT1){
	if(CONSTANTRole[i]=="show"){
%>
    <div class="<%=CONSTANT2[i]%>" onclick="toLocation('<%=CONSTANT3[i]%>')" >
    	<span style="margin-left:20px;" class="glyphicon glyphicon-file"></span>
    	<%=CONSTANT1[i]%>
    </div>
<%	}
}
%>
