<!--业务逻辑-->
<!--页面逻辑-->
<% include header %>
<div style="width:100%">
	<div style="height:150px"></div>
	<!--
	<table style="width:95%;margin:auto;">
		<tr>
			<td style="width:100%;text-align:center"><img src="/img/logoreg.png" style="width:45%;" /></td>
		</tr>
	</table>-->
	<div style="height:20px"></div>
	<table style="margin:auto;">
		<tr>
			<td style="font-size:18px;padding-top:20px;">
				您的订单已提交，预祝您用餐愉快！
			</td>
		</tr>
	</table>
	<div style="height:20px;"></div>
	<div style="cursor:pointer;margin:auto;text-align:center;color:#FFFFFF;font-size:18px;width:50%;background:#AF311A;height:35px;padding-top:5px" onclick="window.location='/weixin/option';">我的订单</div>
</div>
<% include footer %>