<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>百颖(上海)餐饮服务有限公司</title>
<link rel="stylesheet" href="/css/amazeui.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/amazeui.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style type="text/css">
	.am-header-default{
		background-color:#AF311A !important;
	}
	.am-navbar-default .am-navbar-nav{
		background-color:#AF311A !important;
	}
	.am-datepicker tr.am-datepicker-header{
		background-color:#AF311A !important;
	}
</style>
</head>
<body class="am-with-fixed-navbar">
